In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [13]:
# clean data
data = pd.read_csv('original_data.csv', index_col=0)
data = data.drop('AppointmentID', axis=1)
data.rename(columns = {'Hipertension':'Hypertension','Handcap':'Handicap','No-show':'Noshow'}, inplace=True)
data.Gender = [1 if i=='M' else 0 for i in data.Gender]
data.Noshow = [1 if i=='Yes' else 0 for i in data.Noshow]
data.ScheduledDay = data.ScheduledDay.apply(np.datetime64)
data.AppointmentDay = data.AppointmentDay.apply(np.datetime64)
#data.to_csv('cleaned_data.csv')
print(data.shape)
data.head()

(110527, 12)

,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hypertension,Diabetes,Alcoholism,Handicap,SMS_received,Noshow
PatientId,,,,,,,,,,,,
2.987250e+13,0,2016-04-29 18:38:08,2016-04-29,62,JARDIM DA PENHA,0,1,0,0,0,0,0
5.589978e+14,1,2016-04-29 16:08:27,2016-04-29,56,JARDIM DA PENHA,0,0,0,0,0,0,0
4.262962e+12,0,2016-04-29 16:19:04,2016-04-29,62,MATA DA PRAIA,0,0,0,0,0,0,0
8.679512e+11,0,2016-04-29 17:29:31,2016-04-29,8,PONTAL DE CAMBURI,0,0,0,0,0,0,0
8.841186e+12,0,2016-04-29 16:07:23,2016-04-29,56,JARDIM DA PENHA,0,1,1,0,0,0,0

In [26]:
print ("{}% of the patients were no-shows.".format(round(100*sum(data.Noshow)/data.shape[0],2)))

20.19% of the patients were no-shows.